.booking-process-page{
    display: flex;
    flex-direction: column;
    padding: 40px;
    align-items: center;
    justify-content: center;
}
.booking-content{
    display: flex;
}
.booking-heading{
    background-color: #F8F9FE;
    color: #68B99D;
    font-weight: 500;
    padding: 20px 30px;
}
.booking-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 40px;
    /* border: 0.5px solid black; */
    padding: 40px;
    width: 220px;
    gap: 10px;
    position: relative;
    border-radius: 4px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}
.booking-img{
    width: 80px;

}
.nums{
    border: 2px solid #E8E8E8;
    border-radius: 50px;
    display: inline;
    width: 45px;
    height: 45px;
    align-items: center;
    position: absolute; 
    bottom: 0;
    left: 0;
    margin-bottom: 7rem;
    margin-left: -1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: white;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}
.booking-head{
    font-weight: 900;
    line-height: 24px;
}
.booking-info{
    line-height: 24px;
}